<div class="app-nav-bar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <span class="logo-desktop">Angular♡Solana</span>
            <span class="logo-mobile">A♡S</span>

            <span class="nav-bar-spacer"></span>

            <div class="nav-bar-links">
                <a routerLink="/chat" routerLinkActive="active" title="Chat">Chat</a>
                <a routerLink="/my-messages" routerLinkActive="active" title="My messages">My messages</a>
            </div>

            <span class="nav-bar-spacer"></span>

            <div *ngIf="!walletAddress; else showAddress">
                <button (click)="walletConnect()" class="btn-phantom">
                    <img src="/assets/images/phantom-logo.svg" alt="Phantom connect">
                </button>
            </div>

            <ng-template #showAddress>
                <span class="wallet-address">{{ truncatedAddress }}</span>
                <button (click)="walletDisconnect()" class="btn-phantom btn-disconnect">
                    Disconnect
                </button>
            </ng-template>

        </mat-toolbar-row>
    </mat-toolbar>
</div>
