.app-nav-bar {
    .nav-bar-icon {
        padding: 0 14px;
    }
    .nav-bar-spacer {
        flex: 1 1 auto;
    }
    .btn-phantom {
        cursor: pointer;
        background-color: #6f66e1;
        border: 1px solid #6f66e1;
        border-radius: 5px;

        img {
            display: block;
        }
    }
}
