<div class="app-chat">

    <div class="messages-wrapped">

        <div class="message message-left">
            <div class="msg-box">
                <small>{{ utils.truncatedAddress('HeDnSsv9rykjKyGUv4GGXR7FgaRbViSftAh7JgcsAL3z') }}</small>
                <p>
                    Primer mensaje de prueba!!!
                    <span>Oct 29 16:30 hs</span>
                </p>
            </div>
        </div>

        <div class="message message-left">
            <div class="msg-box">
                <small>{{ utils.truncatedAddress('HeDnSsv9rykjKyGUv4GGXR7FgaRbViSftAh7JgcsAL3z') }}</small>
                <p>
                    Otro mensaje...
                    <span>Oct 29 16:32 hs</span>
                </p>
            </div>
        </div>

        <div class="message message-right">
            <div class="msg-box">
                <small>{{ utils.truncatedAddress('HeDnSsv9rykjKyGUv4GGXR7FgaRbViSftAh7JgcsAL3z') }}</small>
                <p>
                    Mi mensaje.
                    <span>Oct 29 16:35 hs</span>
                </p>
            </div>
        </div>

    </div>

</div>
